
section#main-content {
    padding-top: 20px;
    padding-bottom: 30px;
}

#saving_settings{
    display: none;
}

.section {
    padding: 1.5rem 0rem;
}

input#rl-colour-picker {
    width: 85px;
    color: white;
    /* height: 36px; */
}

.hidden{display:none;}

#wpcontent {
    background-color: #F1F1F1;
}

.bd-klmn-gaps{
    margin-bottom: 1.25rem;
}

#plugin-wrapper{
    padding: 20px;
}

#plugin-nav {
    background-color: #0073aa;
    border-top-left-radius: 10px;
}

.plugin-nav-header {
    height: 36px;
    border-bottom: 1px solid white;
}

#plugin-nav .dashicons {
    float: left;
    font-size: 25px;
    padding-top: 3px;
    color: white;
}

#plugin-nav .subtitle{
    color: #EEEEEE;
    float: left;
    padding-left: 10px;
}

ul.menu-list {
    clear: both;
    margin-top: 23px;
}

#plugin-content {
    background-color: #fff;
    border-top-right-radius: 10px;
}

#plugin-content .subtitle {
    border-bottom: 1px solid #b7b2b2;
    padding-bottom: 10px;
    width: 100%;
}

.menu-list a {
    color: white;
}

#plugin-nav .menu-list .dashicons{
    float: none;
    font-size: 21px;
    margin-right: 5px;
    padding-top: 0px;
}

#plugin-nav span.fa {
    font-size: 20px;
    margin-right: 5px;
}

section#footer {
    margin-top: 20px;
    float: right;
}
